#container {
  padding: 1rem;
}



p{
  margin-left: 1rem;
}

#wrapper{
  margin-left: 1rem;
}

#router {
  margin-left: 1rem;
}

p-card {
  display: inline-block;
  margin-right: 1rem;
  position: relative;
}


#homeButton{
  font-size: 1.5em;
}

p-button{
  width: 2rem;
}
