<div class="card" id="tableContainer">
  <p-table #dt1 [value]="entries" responsiveLayout="scroll" [rows]="7" [paginator]="true"
           [globalFilterFields]="['title', 'loginText', 'url']" id="table">

    <ng-template pTemplate="caption">
      <div class="flex" id="searchContainer">

        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                (click)="clear(dt1)"></button>

        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt1.filterGlobal(($any($event.target).value), 'contains')"
                   placeholder="Search keyword"/>
        </span>
        <button pButton label="Add Entry" icon="pi pi-plus" styleClass="p-button-primary"
                [style]="{'float': 'right'}"  (click)="displayNewEntryDialog = true" pRipple></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">

      <tr>
        <th>
          Title
          <p-columnFilter type="text" field="title" display="menu"></p-columnFilter>
        </th>
        <th>
          Login
          <p-columnFilter type="text" field="loginText" display="menu"></p-columnFilter>
        </th>
        <th>
          URL
          <p-columnFilter type="text" field="url" display="menu"></p-columnFilter>
        </th>
        <th>Password</th>

        <th></th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entry>
      <tr>
        <td>{{entry.title}}</td>
        <td>{{entry.loginText}}</td>
        <td>
          <button pButton type="button" label="Link to {{entry.title}}" class="p-button-text" (click)="goToSite(entry)"
                  pTooltip="{{entry.url}}"></button>
        </td>
        <td>{{entry.password}}</td>
        <td>
          <button pButton icon="pi pi-copy" class="p-button-text" pTooltip="Copy Password"
                  (click)="copyText(entry.password)"></button>
          <button pButton icon="pi pi-pencil" class="p-button-text" pTooltip="Edit Entry"
                  (click)="showEntryEdit(entry)"></button>
          <button pButton icon="pi pi-trash" class="p-button-text" pTooltip="Delete Entry"
                  (click)="deleteEntry(entry.id)"></button>

        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="Edit Entry" [(visible)]="display" [closable]="false" (onHide)="onDialogHide()" [draggable]="false"
            [style]="{'width': '30rem', 'height': '50%'}">
    <div class="p-field p-align-center vertical-container">
      <div class="p-field p-grid">
        <div class="p-col-6">
          <div class="p-col-4">
            <label for="title">Title</label>
          </div>
          <div class="p-col-4">
            <div class="p-inputgroup">

              <input type="text"
                     pInputText
                     [(ngModel)]="selectEntry.title"
                     class="form-control"
                     id="title"
                     name="title"
                     placeholder="Title"
                     required #title="ngModel"
                     [style]="{width:'80%', 'margin-bottom': '6%', 'margin-top': '3%' }"
              > <button pButton icon="pi pi-copy" pTooltip="Copy Title"
                        (click)="copyText(selectEntry.title)" [style]="{width:'2rem', 'margin-bottom': '6%', 'margin-top': '3%' }"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="p-field p-grid">
        <div class="p-col-6">
          <div class="p-col-4">
            <label for="loginText">Login</label>
          </div>
          <div class="p-col-4">
            <div class="p-inputgroup">
              <input type="text"
                     pInputText
                     [(ngModel)]="selectEntry.loginText"
                     class="form-control"
                     id="loginText"
                     name="loginText"
                     placeholder="Login"
                     required #content="ngModel"
                     [style]="{width:'80%', 'margin-bottom': '6%', 'margin-top': '3%' }"
              >
              <button pButton icon="pi pi-copy" pTooltip="Copy Login Text"
                      (click)="copyText(selectEntry.loginText)" [style]="{width:'2rem', 'margin-bottom': '6%', 'margin-top': '3%' }"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="p-field p-grid">
        <div class="p-col-6">
          <div class="p-col-4">
            <label for="url">URL</label>
          </div>
          <div class="p-col-4">
            <div class="p-inputgroup">
              <input type="text"
                     pInputText
                     [(ngModel)]="selectEntry.url"
                     class="form-control"
                     id="url"
                     name="url"
                     placeholder="URL"
                     required #content="ngModel"
                     [style]="{width:'80%', 'margin-bottom': '6%', 'margin-top': '3%' }"
              > <button pButton icon="pi pi-copy" pTooltip="Copy URL"
                        (click)="copyText(selectEntry.url)" [style]="{width:'2rem', 'margin-bottom': '6%', 'margin-top': '3%' }"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="p-field p-grid">
        <div class="p-col-6">
          <div class="p-col-4">
            <label for="password">Password</label>
          </div>
          <div class="p-col-4">
            <div class="p-inputgroup">
              <input type="text"
                     pInputText
                     [(ngModel)]="selectEntry.password"
                     class="form-control"
                     id="password"
                     name="password"
                     placeholder="Password"
                     required #content="ngModel"
                     [style]="{width:'80%', 'margin-bottom': '6%', 'margin-top': '3%' }"
              > <button pButton icon="pi pi-copy" pTooltip="Copy Password"
                        (click)="copyText(selectEntry.password)" [style]="{width:'2rem', 'margin-bottom': '6%', 'margin-top': '3%' }"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-3">
          <p-button
            label="{{SaveButtonText}}"
            icon="pi pi-check"
            styleClass="p-button-primary"
            (click)="editEntry(selectEntry)"
            [disabled]="checkEntryIsValid()"
            [style]="{width:'45%', 'margin-bottom': '6%', 'margin-top': '3%' , 'margin-right': '0.5rem', 'margin-left': '1rem' }"
            pRipple
          ></p-button>
          <p-button
            label="{{CancelButtonText}}"
            icon="pi pi-times"
            styleClass="p-button-secondary"
            (click)="cancelEdit()"
            [style]="{width:'45%', 'margin-bottom': '6%', 'margin-top': '3%' }"
            pRipple >

          </p-button>



        </div>
      </div>
    </div>

  </p-dialog>



  <p-dialog header="New Entry" [(visible)]="displayNewEntryDialog" [closable]="false" (onHide)="onDialogHide()" [draggable]="false"
            [style]="{'width': '30rem', 'height': '50%'}">
    <div class="p-field p-align-center vertical-container">
      <div class="p-field p-grid">
        <div class="p-col-6">
          <div class="p-col-4">
            <label for="title">Title</label>
          </div>
          <div class="p-col-4">
            <div class="p-inputgroup">

              <input type="text"
                     pInputText
                     [(ngModel)]="entry.title"
                     class="form-control"
                     id="newtitle"
                     name="newtitle"
                     placeholder="Title"
                     required #title="ngModel"
                     [style]="{width:'80%', 'margin-bottom': '6%', 'margin-top': '3%' }"
              >
            </div>
          </div>
        </div>
      </div>
      <div class="p-field p-grid">
        <div class="p-col-6">
          <div class="p-col-4">
            <label for="loginText">Login</label>
          </div>
          <div class="p-col-4">
            <div class="p-inputgroup">
              <input type="text"
                     pInputText
                     [(ngModel)]="entry.loginText"
                     class="form-control"
                     id="newloginText"
                     name="newloginText"
                     placeholder="Login"
                     required #content="ngModel"
                     [style]="{width:'80%', 'margin-bottom': '6%', 'margin-top': '3%' }"
              >

            </div>
          </div>
        </div>
      </div>
      <div class="p-field p-grid">
        <div class="p-col-6">
          <div class="p-col-4">
            <label for="url">URL</label>
          </div>
          <div class="p-col-4">
            <div class="p-inputgroup">
              <input type="text"
                     pInputText
                     [(ngModel)]="entry.url"
                     class="form-control"
                     id="newurl"
                     name="newurl"
                     placeholder="URL"
                     required #content="ngModel"
                     [style]="{width:'80%', 'margin-bottom': '6%', 'margin-top': '3%' }"
              >
            </div>
          </div>
        </div>
      </div>
      <div class="p-field p-grid">
        <div class="p-col-6">
          <div class="p-col-4">
            <label for="password">Password</label>
          </div>
          <div class="p-col-4">
            <div class="p-inputgroup">
              <input type="text"
                     pInputText
                     [(ngModel)]="entry.password"
                     class="form-control"
                     id="newpassword"
                     name="newpassword"
                     placeholder="Password"
                     required #content="ngModel"
                     [style]="{width:'80%', 'margin-bottom': '6%', 'margin-top': '3%' }"
              >
            </div>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-3">
          <p-button
            label="{{SaveButtonText}}"
            icon="pi pi-check"
            styleClass="p-button-primary"
            (click)="newEntry()"
            [disabled]="checkNewEntryIsValid()"
            [style]="{width:'45%', 'margin-bottom': '6%', 'margin-top': '3%' , 'margin-right': '0.5rem', 'margin-left': '1rem' }"
            pRipple
          ></p-button>
          <p-button
            label="Cancel"
            icon="pi pi-times"
            styleClass="p-button-secondary"
            (click)="cancelEdit()"
            [style]="{width:'45%', 'margin-bottom': '6%', 'margin-top': '3%' }"
            pRipple >

          </p-button>



        </div>
      </div>
    </div>

  </p-dialog>
</div>
