<div class="card my-5" id="cont">
  <div class="p-fluid grid" id="LoginContainer">
    <p-card header="Login" subheader="" [style]="{width: '360px'}" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
      </ng-template>
      <div class="field col-12 md:col-4" id="formInput1">
        <span class="p-float-label">
            <input type="text" id="username" pInputText [(ngModel)]="model.username">
            <label for="username">Username</label>
        </span>
      </div>
      <div class="field col-12 md:col-4" id="formInput2">
        <span class="p-float-label">
            <input type="password" id="password" pPassword [(ngModel)]="model.password" [feedback]="false">
            <label for="password">Password</label>
        </span>
      </div>
      <ng-template pTemplate="footer">
        <p-button label="Login" icon="pi pi-lock-open" (onClick)="login()" [disabled]="checkEntryIsValid()"></p-button>
      </ng-template>
    </p-card>

  </div>
</div>

