<div class="card my-5">
  <div class="p-fluid grid" id="LoginContainer">
    <div class="field col-12 md:col-4" id="formInput1">
        <span class="p-float-label">
            <input type="text" id="username" pInputText [(ngModel)]="model.username">
            <label for="username">Username</label>
        </span>
    </div>
    <div class="field col-12 md:col-4" id="formInput2">
        <span class="p-float-label">
            <input type="password" id="password" pPassword [(ngModel)]="model.password" [feedback]="false">
            <label for="password">Password</label>
        </span>
    </div>


    <button pButton type="button" label="Submit" class="p-button-text"  (click)="login()" [disabled]="checkEntryIsValid()" ></button>

  </div>
</div>
