#container {
  margin-left: 1rem;
  padding: 1rem;
}

#wrapper{
  display: inline;
  width: 2rem;
}

p-card {
  display: inline-block;
  margin-right: 1rem;
  position: relative;
}



p-button{
  width: 100%;
}

#formInput1 {
  margin-bottom: 5%;
  margin-top: 5%;

}
#formInput2 {
  margin-bottom: 5%;
}
#formInput3 {
  margin-bottom: 5%;
}

