<div class="container" id="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5" id="wrapper">
        <p-card header="" styleClass="p-card-shadow">
          <ng-template pTemplate="header">
            <div class="field col-12 md:col-4" id="formInput1">
              <span class="p-float-label">
                  <input type="text" id="title" pInputText [(ngModel)]="entry.title">
                  <label for="title">Title</label>
              </span>
            </div>
            <div class="field col-12 md:col-4" id="formInput2">
              <span class="p-float-label">
                  <input type="text" id="loginText" pInputText [(ngModel)]="entry.loginText">
                  <label for="loginText">Login Text</label>
              </span>
            </div>

            <div class="field col-12 md:col-4" id="formInput3">
              <span class="p-float-label">
                  <input type="text" id="url" pInputText [(ngModel)]="entry.url">
                  <label for="url">URL</label>
              </span>
            </div>

            <div class="field col-12 md:col-4" id="formInput4">
              <span class="p-float-label">
                  <input type="text" id="password" pInputText [(ngModel)]="entry.password">
                  <label for="password">Password</label>
              </span>
            </div>
          </ng-template>

          <ng-template pTemplate="footer">
                <p-button
                  label="Submit"
                  icon="pi pi-plus"
                  styleClass="p-button-primary"
                  (click)="onSubmit()"
                  [disabled]="checkEntryIsValid()"
                ></p-button>
                <p-button
                  label="Cancel"
                  icon="pi pi-times"
                  styleClass="p-button-secondary"
                  (click)="goToEntryList()"
                  [style]="{'margin-left': '.5em'}"
                ></p-button>

            </ng-template>

        </p-card>

      </div>
    </div>
  </div>
</div>
